body {
    background-color: rgb(43, 39, 39);
    color: beige;
    font-size: large;
}

tr {
    background-color: cornflowerblue;
    color: rgb(19, 4, 4);
    margin: 20px;
}

h2,
#mt {
    width: fit-content;
    margin: auto;
}

td {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#blank {
    background-color: rgb(43, 39, 39);
    width: 10px;
    border:0px;
    padding: 0px;
}