body {
    background-color: rgb(43, 39, 39);
    color: beige;
    font-size: x-large;
}

button {
    font-size: x-large;
    border-radius: 5px;
}

#dark {
    background-color: blue;
    color:antiquewhite;
}

#normal {
    background-color:burlywood;
    color:blue;
}

#msg {
    height: 20px;
    font-size: xx-large;
    color:coral;
}

