@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

html {
  color: rgb(0, 0, 0);
  font-family: "DFKai-SB"; /*標楷體*/
}

p.hei {
  color: rgb(31, 13, 199);
  font-family: "Microsoft JhengHei"; /*微軟正黑體*/
}

h2.hei {
  color: rgb(46, 240, 8);
  font-family: "Microsoft JhengHei"; /*微軟正黑體*/
}

.ming {
  color: #ee0808;
  font-family: "PMingLiU"; /*新細明體*/
}

.ming {
  color: #ee08ee;
}

#title {
  color: #9208ee;
  font-family: "cwTeXYen"; /*圓體*/
}
