@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

html {
  color: rgb(0, 0, 0);
  font-family: "DFKai-SB"; /*標楷體*/
  font-size: medium;
}

p.hei {
  color: rgb(31, 13, 199);
  font-size: 20px;
  font-family: "Microsoft JhengHei"; /*微軟正黑體*/
}

p.ming {
  color: #ee0808;
  font-size: large;
  font-family: "PMingLiU"; /*新細明體*/
}

#title {
  color: #9208ee;
  font-family: "cwTeXYen"; /*圓體*/
}
